#start {
    margin-left: 3.5px;
    margin-right: 4.5px;
}

#next {
    margin-left: 7.5px;
    margin-right: 5.5px;
}

#reset {
    margin-left: 1px;
    margin-right: 3px;
}

#clear {
    margin-left: 5.5px;
    margin-right: 6px;
}